body {
  padding: 10px 50px 50px;
  font: 18px "Garamond", serif;
}

a {
  color: #019875;
  text-decoration: none;
  font-weight: bold;
  transition: 0.4s;
}

  a:hover {
    color: black;
  }

a.button, input[type=submit] {
  color: white;
  background: #019875;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  padding: 10px 14px 12px;
  font-size: 14px;
  border-radius: 2px;
  cursor: pointer;
}

form a.button, input[type=submit] {
  margin-left: 140px;
  transition: 0.4s;
}

input[type=submit] {
  border: 0;
}

  a.button:hover, input[type=submit]:hover {
    background-color: #01b189;
  }

p {
  margin: 20px auto;
}

ul {
  padding: 0;
  list-style-type: none;
  margin-bottom: 10px;
  line-height: 1.3em;
}

h2 {
  border-top: 2px solid #e7e7e7;
  padding-top: 20px;
}

th {
  border-bottom: 2px solid #D8B493;
  text-align: left;
  padding: 5px 20px 5px 10px;
}

tr {
  min-height: 50px;
}

tr:nth-child(2n) {
  background: #E7E7E7;
}

td {
  padding: 5px 20px 5px 10px;
}

label {
  font-weight: bold;
  min-width: 130px;
  display: inline-block;
  transition: 0.4s;
}

input {
  padding: 10px;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 14px;
  border-radius: 2px;
  border-color: #E7E7E7;
  transition: 0.4s;
}

input[type=text] {
  margin-left: 7px;
  width: 300px;
}

.error {
  color: rgb(236, 15, 15);
}


.add-product-button{
  background: #019875;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  padding: 10px 14px 12px;
  font-size: 14px;
  border-radius: 2px;
  font-weight: bold;
  cursor: pointer;
  
  margin-left: 140px;
  transition: 0.2s;
}

.add-product-button:hover {
    background-color: #01b189;
    color: rgba(245, 245, 245, 0.836);
    border: 2px solid rgb(80, 255, 153);
  }

  .errorXYZ{
    color: red;
    font-weight: bold;
  }


  .category-menu{
  padding: 10px;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 14px;
  border-radius: 2px;
  border: 2px solid #E7E7E7;
  border-top-color: darkgray;
  border-left-color: darkgray;
  width: 324px;
  transition: 0.4s;
  margin-left: 7px;
  }


  /* /////// LOGIN SECTION //////// */

  .login-section{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;

    border: 2px solid red;
    
  }

.login-div{
  display: flex;
}

#loginInpt{
    /* display: block; */
    border: 2px solid red;
    width: 500px;
}


.pass-div{
  display: flex;

}
.passInpt{

    border: 2px solid green;
    width: 500px;
}

.login-button{
    height: 30px;
    width: 100px;
    margin-top: 10px;
}

.all-credentials-section{
    background-color: rgb(188, 174, 174);
    display: flex;
    gap: 20%;
    margin-top: 10px;
}



/* /////////// SHOPPING CART //////// */



.cart-tab{
  width: 400px;
  background-color: rgb(50, 48, 48);
  color: #eee;
  position: fixed;
  
  inset: 0 -400px 0 auto;
  display: grid;
  grid-template-rows: 100px 1fr 70px;
  /* grid-template-columns: 400px; */

  transition: .3s;
  transform: translateX(0px)
}


 /* Shopping cart window slide-in effect */

.cart-tab{
  transition: .3s;
  transform: translateX(0px);
}

.showCart{
  inset: 0 0 0 auto;

}



.cart-tab h1{
  font-family: "Poppins", sans-serif;
  padding: 20px;
  font-weight: 550;
  margin: 0;
}

.cart-list{
  display: grid;
  /* grid-template-columns: 70px 40px 40px 40px; */
  gap: 5%;
  grid-template-rows: 10px 100px;
}

.thead-row{
  display: grid;
  /* grid-template-columns: 100px 20px 20px 20px; */
}

.shop-card{
  display: flex;
  grid-template-columns: 100px 40px 50px 50px;
}

.cart-tab .shop-card{
  background-color: green;
}

.cart-tab .shop-card:nth-child(even){
  background-color: tomato;
}


.error-cart-empty{
  color: #f7672e;
  width: 100%;
  font-weight: bold;
  text-align: center;
  border-top: none;
}

.pop{
  animation: pop 500ms ease-out;
}

@keyframes pop{
  0% {transform: scale(1);}
  55% {transform: scale(1.15);}
  100% {transform: scale(1);}
}












/* ////BUTTON SECTION */

.cart-tab .buttons{
  /* width: 200px; */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.cart-tab .buttons button{
  background-color: #e8bc03;
  border: none;
  font-family: Poppins;
  font-weight: 500;
  cursor: pointer;
}

.cart-tab .buttons .close{
  background-color: #e74922;
}


/* .container{
  transition: transform 5.s;
} */





.hide{
  /* display: none; */
}