body {
  padding: 10px 50px 50px;
  font: 18px "Garamond", serif;
}

a {
  color: #019875;
  text-decoration: none;
  font-weight: bold;
  transition: 0.4s;
}

  a:hover {
    color: black;
  }

a.button, input[type=submit] {
  color: white;
  background: #019875;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  padding: 10px 14px 12px;
  font-size: 14px;
  border-radius: 2px;
  cursor: pointer;
}

form a.button, input[type=submit] {
  margin-left: 140px;
  transition: 0.4s;
}

input[type=submit] {
  border: 0;
}

  a.button:hover, input[type=submit]:hover {
    background-color: #01b189;
  }

p {
  margin: 20px auto;
}

ul {
  padding: 0;
  list-style-type: none;
  margin-bottom: 10px;
  line-height: 1.3em;
}

h2 {
  border-top: 2px solid #e7e7e7;
  padding-top: 20px;
}

th {
  border-bottom: 2px solid #D8B493;
  text-align: left;
  padding: 5px 20px 5px 10px;
}

tr {
  min-height: 50px;
}

tr:nth-child(2n) {
  background: #E7E7E7;
}

td {
  padding: 5px 20px 5px 10px;
}

label {
  font-weight: bold;
  min-width: 130px;
  display: inline-block;
  transition: 0.4s;
}

input {
  padding: 10px;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 14px;
  border-radius: 2px;
  border-color: #E7E7E7;
  transition: 0.4s;
}

input[type=text] {
  margin-left: 7px;
  width: 300px;
}

.error {
  color: rgb(236, 15, 15);
}


.add-product-button{
  background: #019875;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  padding: 10px 14px 12px;
  font-size: 14px;
  border-radius: 2px;
  font-weight: bold;
  cursor: pointer;
  
  margin-left: 140px;
  transition: 0.2s;
}

.add-product-button:hover {
    background-color: #01b189;
    color: rgba(245, 245, 245, 0.836);
    border: 2px solid rgb(80, 255, 153);
  }

  .errorXYZ{
    color: red;
    font-weight: bold;
  }


  .category-menu{
  padding: 10px;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 14px;
  border-radius: 2px;
  border: 2px solid #E7E7E7;
  border-top-color: darkgray;
  border-left-color: darkgray;
  width: 324px;
  transition: 0.4s;
  margin-left: 7px;
  }


  /* /////// LOGIN SECTION //////// */

  .login-section{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;

    border: 2px solid red;
    
  }

.login-div{
  display: flex;
}

#loginInpt{
    /* display: block; */
    border: 2px solid red;
    width: 500px;
}


.pass-div{
  display: flex;

}
.passInpt{

    border: 2px solid green;
    width: 500px;
}

.login-button{
    height: 30px;
    width: 100px;
    margin-top: 10px;
}

.all-credentials-section{
    background-color: rgb(188, 174, 174);
    display: flex;
    gap: 20%;
    margin-top: 10px;
}



/* /////////// SHOPPING CART //////// */



.cart-tab{
  width: 370px;
  background-color: rgb(50, 48, 48);
  color: #eee;
  position: fixed;
  
  inset: 0 -400px 0 auto;

  transition: .3s;
  transform: translateX(0px)
}

 /* Shopping cart window slide-in effect */

.cart-tab{
  transition: .3s;
  transform: translateX(0px);
}

.showCart{
  inset: 0 0 0 auto;

}



.cart-tab h1{
  font-family: "Poppins", sans-serif;
  padding: 20px;
  font-weight: 550;
  margin: 0;
  justify-self: center;
  padding-top: 60px;
}

.cart-tab{
  display: grid;
  grid-template-rows: 170px 1fr auto;    /*header - body - buttons*/
}

.shopcart-header{
  border-bottom: 2px solid tomato;
}

.cart-row-header{
  display: grid;
  grid-template-columns: 6ch 1fr 14ch;
  
}

.cart-row-header .cart-header-id {justify-self: center;}
.cart-row-header .cart-header-name {justify-self: center;}


.cart-body{
  overflow:scroll;
  /* border-bottom: 2px solid black; */
  box-shadow: 0 0px 7px rgb(255, 255, 255);
  
}

.cart-body::-webkit-scrollbar {
  display: none; 
}

.shop-card{
  display: grid;
  grid-template-columns: 6ch 1fr 14ch;
  grid-template-rows: 50px;
  align-items: center;
  justify-content: center;
  /* background-color: #0c9172; */
  border-top: 2px solid #019875;
  /* padding-top: 10px; */
  
}



.shop-card:nth-child(odd){
  background-color: rgb(88, 83, 83);
  /* border: 2px solid red; */
}


.shop-card:nth-child(odd) > :nth-child(2) {
  /* background: rgba(240, 75, 63, 0.856); */
  /* padding-left: 80px; */
  /* padding-right: 80px; */
  padding-top: 15px;
  padding-bottom: 15px;
}


.shop-card:nth-child(1){
  border-right: 2px solid orange;
  border-left: 2px solid orange;
}

.shop-card:nth-child(even){
  background-color: rgb(107, 103, 103);
}

.shop-card .prod-id {
  justify-self: center; 
  /* border: 2px solid red; */
}
.shop-card .name {justify-self: center;}


/* .shop-card .cell:not(.qty-group) { background-color: green; } */
/* .shop-card .prod-id{
  padding-right: 30px;
}
.shop-card .name{
  background: transparent;
  padding-left: 150px;
} */
/* .shop-card:nth-child(odd) .qty-group { background-color: #f7672e; } */




.shop-card .prod-id{
  /* padding-left: 13.5px; */
}

.shop-card .name{
  /* padding-left: 0px; */
}

.qty-group{
  display: inline-flex;
  gap: 0.5rem;
  align-items: center;
  padding-left: 20px;
}

.qty-group .prod-quantity{
  font-weight: bold;
}

.qty-group button{
  border-radius: 10%;
}


.error-cart-empty{
  color: #f7672e;
  width: 100%;
  font-weight: bold;
  text-align: center;
  border-top: none;
}

.pop{
  animation: pop 500ms ease-out;
}

@keyframes pop{
  0% {transform: scale(1);}
  55% {transform: scale(1.15);}
  100% {transform: scale(1);}
}







/* ////BUTTON SECTION */

.cart-tab .button-section{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 50px;
  background: white;
  margin-top: 50px;

}

.cart-tab .button-section button{
  background-color: #e8bc03;
  border: none;
  font-family: Poppins;
  font-weight: 500;
  cursor: pointer;
  border-bottom-left-radius: 5px;
}

.cart-tab > .button-section > .close{
  background-color: #e74922;
}


/* .container{
  transition: transform 5.s;
} */





.hide{
  /* display: none; */
}

